Repository mortii/anki-morphs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, mypy

.pre-commit-config.yaml:

ci: # the pre-commit ci bot on github does not like repo: local
    skip: [pylint, black, mypy]

default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args: [--autofix]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: |
          (?x)^(
              ankimorphs/deps/jieba/analyse/textrank.py|
          )$
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: name-tests-test
        files: '^tests/'
        exclude: |
          (?x)^(
              tests/data/.*|
              tests/fake_config.py|
              tests/fake_preferences.py|
          )$
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations
      - id: python-check-mock-methods
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              tests/fake_preferences.py|
          )$
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        files: 'ankimorphs/|^tests/'
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.10
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        require_serial: true
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/old_recalc.py|
              tests/.*|
          )$
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              tests/.*|
          )$
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/mecab_wrapper.py|
              ankimorphs/morpheme.py|
              ankimorphs/morphemizer.py|
              ankimorphs/old_recalc.py|
              ankimorphs/text_utils.py|
              ankimorphs/util_external.py|
              tests/.*|
          )$
#      - id: pytest
#        name: pytest
#        entry: pytest
#        language: system
#        pass_filenames: false
#        always_run: true

reworded the guide intro (#121)
  docs/src/user_guide/intro.md
Due: none

bumped ankimorphs version to 1.0.0
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

removed 'alpha' from README (#121)
  README.md
Due: none

updated symbolic link example in dev setup
  docs/src/developer_guide/setup.md
Due: none

reverted symbolic link example in dev setup docs
  docs/src/developer_guide/setup.md
Due: none

tags should now be mutually exclusive (#139)
  ankimorphs/recalc.py
Due: pylint, black, mypy

removed incorrect code comment (#124)
  tests/spacy_test.py
Due: none

applied new black formatting
  ankimorphs/anki_data_utils.py
  ankimorphs/readability_report_generator.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

upgraded actions
  .github/workflows/build.yml
  .github/workflows/cache.yml
  .github/workflows/deploy.yml
  .github/workflows/stalebot.yml
Due: none

generators now ignores directory names (#142)
  ankimorphs/generator_dialog.py
Due: pylint, black, mypy

settings are now profile-specific (#143)
  ankimorphs/__init__.py
  ankimorphs/anki_data_utils.py
  ankimorphs/ankimorphs_config.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/ankimorphs_globals.py
  ankimorphs/browser_utils.py
  ankimorphs/readability_report_generator.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/skipped_cards.py
  ankimorphs/text_preprocessing.py
  ankimorphs/toolbar_stats.py
  tests/recalc_test.py
  tests/review_test.py
  tests/spacy_test.py
Due: pylint, black, mypy

updated contributors ( #143)
  docs/src/contributors.md
Due: none

added composite primary key to 'Card_Morph_Map' table (#138)
  ankimorphs/ankimorphs_db.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

updated contributors (#148)
  docs/src/contributors.md
Due: none

updated guide (#148)
  docs/src/user_guide/faq.md
  docs/src/user_guide/setup/settings/note-filter.md
  docs/src/user_guide/setup/settings/tags.md
Due: none

added comments in _cache_anki_data()
  ankimorphs/recalc.py
Due: pylint, black, mypy

added option to show lemma in am-unknowns (#149)
  ankimorphs/ankimorphs_config.py
  ankimorphs/config.json
  ankimorphs/recalc.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  tests/data/meta.json
Due: pylint, black, mypy

added option to show all cards with derivative inflections (#151)
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_config.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/config.json
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  tests/data/meta.json
Due: pylint, black, mypy

updated docs
  docs/src/developer_guide/docs.md
  docs/src/img/recalc-tab.png
  docs/src/img/shortcuts-tab.png
  docs/src/user_guide/setup/settings/extra-fields.md
  docs/src/user_guide/setup/settings/preprocess.md
  docs/src/user_guide/setup/settings/recalc.md
  docs/src/user_guide/setup/settings/skip.md
  docs/src/user_guide/setup/settings/tags.md
  docs/src/user_guide/usage/browser.md
Due: none

updated docs (#156)
  docs/src/contributors.md
  docs/src/img/furigana-bug-fixed.png
  docs/src/img/furigana-bug.png
  docs/src/img/ruby_characters_preserved.png
  docs/src/user_guide/faq.md
  docs/src/user_guide/known-problems.md
  docs/src/user_guide/setup/settings/extra-fields.md
  docs/src/user_guide/usage/recalc.md
Due: none

fixed regex crash (#159)
  ankimorphs/settings_dialog.py
  ankimorphs/text_highlighting.py
Due: pylint, black, mypy

updated docs
  docs/src/contributors.md
  docs/src/img/furigana-bug-fixed.png
  docs/src/img/furigana-bug.png
  docs/src/user_guide/known-problems.md
  docs/src/user_guide/setup/settings/extra-fields.md
Due: none

fixed crash caused by deleted tags (#161)
  ankimorphs/settings_dialog.py
  ankimorphs/tag_selection_dialog.py
Due: pylint, black, mypy

fixed crash when card info window is open when reviewing (#162)
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

bumped ankimorphs version
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

changed hook for 'update seen morphs' (#164)
  ankimorphs/__init__.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

updated contributors (#164)
  docs/src/contributors.md
Due: none

added lock threads bot (github action)
  .github/workflows/lock-threads.yml
Due: none

removed 'study plan' section from FAQ
  docs/src/user_guide/faq.md
Due: none

miscellaneous code cleaning
  ankimorphs/__init__.py
  ankimorphs/browser_utils.py
Due: pylint, black, mypy

changed generators to main windows (#173)
  ankimorphs/frequency_file_generator.py
  ankimorphs/generator_dialog.py
  ankimorphs/readability_report_generator.py
  ankimorphs/ui/frequency_file_generator.ui
  ankimorphs/ui/frequency_file_generator_ui.py
  ankimorphs/ui/readability_report_generator.ui
  ankimorphs/ui/readability_report_generator_ui.py
Due: pylint, black, mypy

fixed morphemizer description typo (#175)
  ankimorphs/morphemizer.py
Due: pylint, black

updated spacy installation guide (#165)
  docs/src/contributors.md
  docs/src/user_guide/installation/installing-spacy.md
Due: none

fixed links in guide intro (#171)
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/intro.md
Due: none

miscellaneous refactoring
  ankimorphs/browser_utils.py
  ankimorphs/generator_dialog.py
Due: pylint, black, mypy
