Repository mortii/anki-morphs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, mypy

.pre-commit-config.yaml:

ci: # the pre-commit ci bot on github does not like repo: local
    skip: [pylint, black, mypy]

default_language_version:
  python: python3.9
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args: [--autofix]
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
        exclude: |
          (?x)^(
              ankimorphs/deps/jieba/analyse/textrank.py|
          )$
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: name-tests-test
        files: '^tests/'
        exclude: |
          (?x)^(
              tests/data/.*|
              tests/fake_config.py|
              tests/fake_preferences.py|
          )$
      - id: requirements-txt-fixer
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-type-ignore
      - id: python-use-type-annotations
      - id: python-check-mock-methods
  - repo: https://github.com/pappasam/toml-sort
    rev: v0.23.1
    hooks:
      - id: toml-sort-fix
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              tests/fake_preferences.py|
          )$
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        files: 'ankimorphs/|^tests/'
  - repo: https://github.com/jendrikseipp/vulture
    rev: v2.10
    hooks:
      - id: vulture
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        require_serial: true
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/old_recalc.py|
              tests/.*|
          )$
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              tests/.*|
          )$
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/mecab_wrapper.py|
              ankimorphs/morpheme.py|
              ankimorphs/morphemizer.py|
              ankimorphs/old_recalc.py|
              ankimorphs/text_utils.py|
              ankimorphs/util_external.py|
              tests/.*|
          )$
#      - id: pytest
#        name: pytest
#        entry: pytest
#        language: system
#        pass_filenames: false
#        always_run: true

updated docs
  docs/src/SUMMARY.md
  docs/src/img/csv-file.png
  docs/src/img/frequency-file-generator.png
  docs/src/user_guide/roadmap.md
  docs/src/user_guide/usage/frequency-file-generator.md
  docs/src/user_guide/usage/readability-report-generator.md
Due: none

increased version number
  ankimorphs/__init__.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

Updated contributors
  docs/src/contributors.md
Due: none

fixed morphemizer not removing names (#41)
  ankimorphs/__init__.py
  ankimorphs/frequency_file_generator.py
  ankimorphs/morph_utils.py
  ankimorphs/morpheme.py
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

updated tags guide (#42)
  docs/src/user_guide/setup/settings/note-filter.md
Due: none

fixed cards being recalc'ed multiple times (#42)
  ankimorphs/recalc.py
Due: pylint, black, mypy

increased version number
  ankimorphs/settings_dialog.py
Due: pylint, black, mypy

added file format options to frequency file generator
  ankimorphs/frequency_file_generator.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/frequency_file_generator.ui
  ankimorphs/ui/frequency_file_generator_ui.py
Due: pylint, black, mypy

updated frequency file generator guide
  docs/src/img/frequency-file-generator.png
  docs/src/user_guide/usage/frequency-file-generator.md
Due: none

names.txt cache is cleared after names are added (#44)
  ankimorphs/morph_utils.py
  ankimorphs/name_file_utils.py
Due: pylint, black, mypy

deleted old and obsolete utils_external file
  ankimorphs/mecab_wrapper.py
  ankimorphs/util_external.py
Due: pylint, black

added .md to frequency file generator
  ankimorphs/frequency_file_generator.py
  ankimorphs/ui/frequency_file_generator.ui
  ankimorphs/ui/frequency_file_generator_ui.py
Due: pylint, black, mypy

updated frequency file generator guide
  docs/src/img/frequency-file-generator.png
Due: none

updated select input example of frequency file guide
  docs/src/user_guide/usage/frequency-file-generator.md
Due: none

fixed typo in docs
  docs/src/user_guide/usage/frequency-file-generator.md
Due: none

updated roadmap
  docs/src/user_guide/roadmap.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Added feature template
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

deleted obsolete issue assign workflow
  .github/workflows/auto-assign_issue.yml
Due: none

Added CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Created SECURITY.md
  SECURITY.md
Due: none

added pull request template
  .github/pull_request_template.md
Due: none

updated pr template
  .github/pull_request_template.md
Due: none

Created dependabot.yml
  .github/dependabot.yml
Due: none

dependabot now groups all minor changes to a single PR
  .github/dependabot.yml
Due: none

bundled addon now contains version in the filename
  .gitignore
  bundle_addon.sh
Due: none

added function that reads frequency list
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/debug_utils.py
  ankimorphs/recalc.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
Due: pylint, black, mypy

updated pull request template
  .github/pull_request_template.md
Due: none

Updated README and roadmap
  README.md
  docs/src/user_guide/roadmap.md
Due: none

Updated Statistics docs
  docs/src/user_guide/usage/statistics.md
Due: none

added docs request issue template
  .github/ISSUE_TEMPLATE/documentation-request.md
Due: none

added contributing file (#57)
  CONTRIBUTING.md
Due: none

updated setup docs (#56)
  docs/src/developer_guide/setup.md
Due: none

updated guides (#45)
  docs/src/img/extra-fields-results.png
  docs/src/img/extra-fields.png
  docs/src/img/filter-order.png
  docs/src/img/overlapping-filters.png
  docs/src/user_guide/setup/settings/extra-fields.md
  docs/src/user_guide/setup/settings/note-filter.md
Due: none

updated contributors (#66)
  docs/src/contributors.md
Due: none

added morph priority to note filters (#59)
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/exceptions.py
  ankimorphs/recalc.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
Due: pylint, black, mypy

now caps input rows from frequency files
  ankimorphs/recalc.py
Due: pylint, black, mypy

updated docs for v0.6.0 release( #59)
  docs/src/img/frequency-csv.png
  docs/src/img/frequenxy-txt.png
  docs/src/img/settings-note-filter.png
  docs/src/user_guide/glossary.md
  docs/src/user_guide/setup/names.md
  docs/src/user_guide/setup/prioritizing.md
  docs/src/user_guide/setup/settings/note-filter.md
  docs/src/user_guide/setup/settings/shortcuts.md
  docs/src/user_guide/usage/frequency-file-generator.md
Due: none

added stalebot
  .github/workflows/dependabot.yml
  .github/workflows/stalebot.yml
Due: none
