Repository mortii/anki-morphs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, black, mypy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-added-large-files
      - id: check-json
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.13.0
    hooks:
      - id: pyupgrade
        args: [--py39-plus]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/readability_settings_ui.py|
              ankimorphs/adaptiveSubs.py|
              ankimorphs/readability.py|
              ankimorphs/readability_ui.py|
              ankimorphs/preferencesDialog.py|
              ankimorphs/config.py|
              tests/fake_preferences.py|
          )$
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)
        files: 'ankimorphs/|^tests/'
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        require_serial: true
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/old_recalc.py|
              ankimorphs/browser_utils.py|
              ankimorphs/reviewing_utils.py|
              tests/.*|
          )$
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/recalc.py|
              tests/.*|
          )$
      - id: mypy
        name: mypy
        entry: mypy
        language: system
        types: [ python ]
        files: 'ankimorphs/|^tests/'
        exclude: |
          (?x)^(
              ankimorphs/deps/.*|
              ankimorphs/ui/.*|
              ankimorphs/browser_utils.py|
              ankimorphs/mecab_wrapper.py|
              ankimorphs/morph_stats.py|
              ankimorphs/morpheme.py|
              ankimorphs/morphemizer.py|
              ankimorphs/old_recalc.py|
              ankimorphs/reviewing_utils.py|
              ankimorphs/text_utils.py|
              ankimorphs/util_external.py|
              tests/.*|
          )$
#      - id: pytest
#        name: pytest
#        entry: pytest
#        language: system
#        pass_filenames: false
#        always_run: true
default_language_version:
  python: python3.9

successfully get card difficulty
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
Due: pylint, black, mypy

updated roadmap
  docs/src/user_guide/roadmap.md
Due: none

cards are given unique positions on recalc
  .gitignore
  ankimorphs/__init__.py
  ankimorphs/recalc.py
  docs/src/developer_guide/databases.md
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

morph stats on toolbar works
  .pre-commit-config.yaml
  ankimorphs/__init__.py
  ankimorphs/morph_stats.py
  docs/src/user_guide/roadmap.md
  tests/test_recalc.py
Due: pylint, black, mypy

improved recalc performance
  ankimorphs/recalc.py
Due: pylint, mypy

added recalc button to toolbar
  ankimorphs/__init__.py
  ankimorphs/morph_stats.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

reviewing mostly works
  .pre-commit-config.yaml
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  tests/test_reviewer.py
Due: pylint, black, mypy

updated readme
  docs/src/SUMMARY.md
  docs/src/user_guide/roadmap.md
Due: none

upgraded pre-commit packages
  .pre-commit-config.yaml
Due: none

seen morphs are reset when anki exits
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_db.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

tags are automatically added/removed on recalc
  ankimorphs/ankimorphs_db.py
  ankimorphs/recalc.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

browser actions work
  .pre-commit-config.yaml
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/config.py
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

stale cards are moved to end of queue on recalc
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/config.json
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

tooltip works after set_known_and_skip
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
  tests/test_reviewer.py
Due: black

am_next_card is now a background op
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
Due: black

renamed tags
  ankimorphs/browser_utils.py
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

morphs on cards with "am_known" tag are considered known
  ankimorphs/__init__.py
  ankimorphs/recalc.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

card queue now retains position of the non-modify cards
  ankimorphs/ankimorphs_db.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

set_card_as_known_and_skip fixed
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

Improved card-difficulty algorithm
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

focus morph field successfully updates
  ankimorphs/__init__.py
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
  ankimorphs/settings_dialog.py
  ankimorphs/toolbar_stats.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

cleaned modify_card_fields code
  ankimorphs/recalc.py
Due: pylint, mypy

difficulty field now updates
  ankimorphs/recalc.py
  docs/src/user_guide/roadmap.md
Due: pylint, mypy

misc settings changes and reordering of recalc.py
  ankimorphs/__init__.py
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/toolbar_stats.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

matches multiple tags
  ankimorphs/recalc.py
Due: pylint, mypy

improved caching and recalc code
  ankimorphs/anki_data_utils.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/recalc.py
  ankimorphs/ui/settings_dialog.ui
  ankimorphs/ui/settings_dialog_ui.py
  docs/src/user_guide/known-problems.md
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

renamed sqlite tables to be plural
  ankimorphs/__init__.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/toolbar_stats.py
  docs/src/developer_guide/databases.md
Due: pylint, black, mypy

fixed non-unique due regression
  ankimorphs/recalc.py
Due: pylint, mypy

"ignore suspended cards"-option works
  ankimorphs/config.json
  ankimorphs/config.py
  ankimorphs/recalc.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

Fix overwriting due on non-learning cards
  ankimorphs/anki_data_utils.py
  ankimorphs/ankimorphs_db.py
  ankimorphs/recalc.py
  docs/src/user_guide/roadmap.md
Due: pylint, black, mypy

fixed searching cards of same morphs
  ankimorphs/ankimorphs_db.py
  ankimorphs/browser_utils.py
  ankimorphs/reviewing_utils.py
Due: pylint, black, mypy

added files for publishing addon
  .gitignore
  ankimorphs/__init__.py
  bundle_addon.sh
  manifest.json
Due: pylint, black, mypy

made imports implicit
  ankimorphs/__init__.py
  ankimorphs/anki_data_utils.py
  ankimorphs/browser_utils.py
  ankimorphs/mecab_wrapper.py
  ankimorphs/morph_utils.py
  ankimorphs/morpheme.py
  ankimorphs/morphemizer.py
  ankimorphs/old_recalc.py
  ankimorphs/recalc.py
  ankimorphs/reviewing_utils.py
  ankimorphs/settings_dialog.py
  ankimorphs/toolbar_stats.py
  bundle_addon.sh
  manifest.json
Due: pylint, black, mypy

moved manifest
  ankimorphs/ankimorphs_db.py
  ankimorphs/manifest.json
  ankimorphs/toolbar_stats.py
  bundle_addon.sh
  docs/src/developer_guide/setup.md
Due: pylint, black, mypy

init db on profile open
  ankimorphs/__init__.py
Due: pylint, black, mypy

fixed intrinsic mecab not loading
  ankimorphs/mecab_wrapper.py
Due: pylint, black

published alpha version
  README.md
  docs/src/user_guide/roadmap.md
Due: none
